body {
    background: rgb(117, 114, 114);
    
}

#title, .subtitle, .postitle {
    color: rgb(43, 23, 23);
}

.postitle {
    font-size: 18px;
    font-style: oblique;
}

.post {
    background: rgb(165, 164, 159);
    padding: 6px;
    border: 3px solid rgb(233, 227, 227)
}